/* abbonamenti.css */

/* SELETTORE DI TIPO (ody, h1, p)*/


        body {
            margin: 0;
            width: 100%;
            min-height: 100%;
            background-color: black;
            font-family: sans-serif;
}

        header { 
            background-color: black; 
            padding: 0; 
            width: 100%; 
        }

        .horizontal-nav {
            list-style-type: none;
            background:   #b9713aff; /* Gradiente nav */
            display: flex;
            justify-content: center;
            width: 100%;
            margin: 0;
            padding: 0; 
        }

        .horizontal-nav li a {
            display: block;
            color: #000000ff;
            padding: 20px;
            text-decoration: none;
        }

        footer {
            color: white;
            background-color: #000;
            text-align: center;
            margin-top: 50px;
            padding: 20px;
            border-top: 1px solid #333;
        }
   
/* SELETTORE ID (univoco per elemento) */

        #main-title {
           color: rgb(226, 149, 41); 
        }

/* SELETTORI DI CLASSE */

        .header-nav { 
            display: flex; 
            flex-direction: column;
            justify-content: space-between; 
            align-items: center; 
            max-width: 1200px; 
            margin: 0 auto 40px; 
            gap: 20px;
        }

        .container { 
            display: grid; 
            grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); 
            gap: 25px; 
            max-width: 1200px; 
            margin: 0 auto; 
        }

        .card { 
            background: #000000ff; 
            box-shadow: 0 0 10px 5px rgba(83, 115, 155, 0.5);
            border-radius: 4px; 
            padding: 30px; 
            text-align: center; 
            transition: all 0.3s ease; 
            border: 1px solid rgb(100, 100, 99); 
            border-top: 8px solid rgb(77, 76, 76); 
            display: flex; 
            flex-direction: column; 
            justify-content: space-between; 
        }

        .badge-premium { 
            background: #ca9a34ff; 
            color: white; 
            font-size: 11px; 
            font-weight: bold; 
            padding: 4px 12px; 
            display: inline-block; 
            margin-bottom: 10px; 
        }

        .price { 
            font-size: 24px; 
            font-weight: bold; 
            color: rgb(232, 228, 226); 
            margin: 15px 0; 
            margin-bottom: 20px;
        }

        .desc { 
            font-size: 14px; 
            color: #d6d3d3ff; 
            margin-bottom: 20px; 
            min-height: 45px; 
        }

        .btn { 
            background: rgb(226, 149, 41);
            color: black;
            border: none; 
            padding: 12px; 
            border-radius: 15px; 
            font-weight: bold; 
            cursor: pointer; 
            transition: 0.3s; 
            text-transform: uppercase; 
            width: 100%; 
        }
        
        .btn-nav { 
            text-decoration: none; 
            background: #333; 
            color: white; 
            padding: 10px 20px; 
            border-radius: 8px; 
            border: 1px solid #ff9d00;
        }

        /*SELETTORE DISCENDENTE */
        
        .card h3 { 
            margin: 10px 0; 
            color: rgb(226, 149, 41); 
            font-size: 23px; 
            font-family: sans-serif;
            font-weight: 600;
        }

        /* SELETTORE COMPOSTO */

        .card.premium { 
            border-top: 10px solid #434242; 
            border-left: 1px solid #434242; 
            border-right: 1px solid #434242; 
            border-bottom: 1px solid #434242; 
        }

        /* PSEUDO-CLASSI (stato dell'elemento, es. :hover, :disabled) */

        .card:hover { 
            transform: translateY(-10px); 
            border-top-width: 8px; 
            box-shadow: 0 15px 30px rgba(0,0,0,0.1); 
        }

        .btn:hover:not(:disabled) { 
            transform: scale(1.05); 
            box-shadow: 0 5px 15px rgba(0,123,255,0.4); 
        }

        .btn:disabled {
            background: rgb(132, 130, 129);
            cursor: not-allowed;
            transform: none;
        }

  