 /*SELETTORE PER TIPO*/
 body{
    display: flex;   /*Visualizza l'elemento come un contenitore "flessibile" */
    background-color: black;
    justify-content: center;
    padding: 100px;
}

/*SELETTORE PER CLASSE*/
.reg-container{
    display: flex;             /*Visualizza l'elemento come un contenitore "flessibile" */
    justify-content: center;  /*centra il div*/
    align-items: center;      /*allinea gli elementi del div al centro*/
    padding: 20px;
    background: radial-gradient(circle at center, #1a1a1a 0%, #000 100%);  /*colore di sfondo*/
}

.header{
    text-align: center;
    margin-right: 80px;  
    max-width: 300px;   
}

h1{
    color: #ff9d00;
    font-size: 40px;
}

/*SELETTORE PER ID*/
#header-par{
    color: #a3a1a1ff;
    margin-top: 10px;

}

/*Box centrale per l'autenticazione*/
.reg-box{
    background-color: #111;
    padding: 80px;
    width: 100%;
    border: 1px solid #222;
    border-radius: 10px; 
}

/*Elementi del form*/
.input-group{
    margin-bottom: 20px;
    margin-right: 50px;

}

input{
    background-color: #222;
    color: white;
    border: 1px solid #333;
    width: 100%;
    padding: 20px;

}

#reg-button{
    background-color: #ff9d00;
    color: black;
    padding: 15px;
    width: 100px;
    font-weight: bold;
    cursor: pointer;


}

/*PSEUDO-CLASSE*/
#reg-button:hover{
    background-color: #e68a00;


}

p{
    margin-top: 25px;
    text-align: center;
    color: #888;

}

/*SELETTORE CHILD*/
p > a{
    color: #ff9d00;
    text-decoration: none;
    font-weight: bold;

}

.returnHome{
    display: flex;
    justify-content: center;
    align-items: center;

}

a{
    color: #ff9d00;
    margin-top: 25px;
    font-weight: bold;
    text-decoration: none;
    font-size: 15px;

}

#error-message{ 
    color: #ff4444;
    font-weight: bold;
    margin-top: 15px;
    text-align: center;
}

#success-message{ 
    color: #00c851;
    font-weight: bold;
    margin-top: 15px;
    text-align: center;
}