/*SELETTORE PER TIPO*/
body{
     display: flex;   /*Visualizza l'elemento come un contenitore "flessibile" */
    /*gli elementi della pagina sono disposti uno sotto l'altro (header, content e footer)*/
    background-color: black;
    justify-content: center;
    padding: 100px;
}


/*SELETTORE PER CLASSE*/
.auth-container{
    display: flex;             /*Visualizza l'elemento come un contenitore "flessibile" */
    justify-content: center;  /*centra il div*/
    align-items: center;      /*allinea gli elementi del div al centro*/
    padding: 20px;
    /*colore di sfondo: la funzione radial-gradient imposta un gradiente radiale come colore di sfondo; un 
    gradiente radiale è un passaggio di colore che si sviluppa in modo circolare partendo da un punto centrale verso l'esterno:
                  
    1) il valore "circle" definisce la forma (shape) del gradiente: in questo caso forza il gradiente ad avere una forma perfettamente circolare;
    2) il valore "center" definisce la posizione (position) del gradiente: in questo caso posiziona il punto di inizio esattamente al centro
        dell'elemento;
    3) i colori e le percentuali definiscono quali colori usare e dove devono trovarsi nel raggio del cerchio:
        - #1a1a1a 0%: è il colore di partenza (un grigio molto scuro); lo 0% indica che questo colore si trova esattamente
        nel punto centrale;
        - #000 100% : è il colore finale (nero) ; il 100% indica che il nero viene aggiunto al bordo esterno del 
        contenitore
        Le "interruzioni" (stops) di colore sono i colori tra cui si desidera ottenere transizioni fluide; questo valore è costituito
        da un valore di colore, seguito da una o due posizioni di interruzione opzionale (ovvero una percentuale compresa tra 0% e 100% o una lunghezza 
        lungo l'asse del gradiente).*/
    background: radial-gradient(circle at center, #1a1a1a 0%, #000 100%); /*colore di sfondo*/
}

.header{
    text-align: center;
    margin-right: 80px;   /* Crea lo spazio tra MyCinema e il box di login */
    max-width: 300px;     /* Evita che il testo si allarghi troppo */
}

h1{
    color: #ff9d00;
    font-size: 40px;
}

/*SELETTORE PER ID*/
#header-par{
    color: #b8b7b7ff;
    margin-top: 10px;
}

/*Box centrale per l'autenticazione*/
.auth-box{
    background-color: #111;
    padding: 80px;
    width: 100%;
    border: 1px solid #222;
    border-radius: 10px; 
}

/*Elementi del form*/
.input-group{
    margin-bottom: 20px;
    margin-right: 50px;
}
            
input{
    background-color: #222;
    color: white;
    border: 1px solid #333;
    width: 100%;
    padding: 20px;
    border-radius: 5px; 
}

#auth-button{
    background-color: #ff9d00;
    color: black;
    padding: 15px;
    min-width: 150px;
    font-weight: bold;
    cursor: pointer;
}

/*PSEUDO-CLASSE*/
#auth-button:hover{
    background-color: #e68a00;
    transform: scale(1.05); 
}

p{
    margin-top: 25px;
    text-align: center;
    color: #b8b7b7ff;
}

.returnHome{
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    color: #ff9d00;
    margin-top: 25px;
    font-weight: bold;
    text-decoration: none;
    font-size: 15px;
}

#error-message{
    color: #ff4444;
    font-weight: bold;
    margin-top: 15px;
    text-align: center;
}

#success-message{
    color: #00c851;
    font-weight: bold;
    margin-top: 15px;
    text-align: center;
}