 /* abbonamenti.css */

/* SELETTORI DI TIPO (ody, h1, p)*/

        body { 
            font-family: sans-serif; 
            background-color: #000000ff; 
            margin: 0; 
            padding: 40px; 
        }
        
        p{
            color: #f3f3f3ff; 
        }


        h2 { 
            color: #f3f3f3ff; 
            margin-bottom: 20px; 
        }

        table { 
            width: 100%; 
            border-collapse: collapse; 
            margin-top: 20px; 
        }


        th { 
            padding: 15px; 
            text-align: left; 
            border-bottom: 2px solid #aeacacff; 
            color: #d5d1d1ff; 
            font-weight: bold; 
            text-transform: uppercase; 
            font-size: 14px; 
            background: #333;
        }

        td { 
            padding: 20px 15px; 
            text-align: left; 
            border-bottom: 1px solid #c7c5c5ff; 
            font-weight: normal; 
            color: #d9d6d6ff; 
        }

/* SELETTORI DI CLASSE */

        .container-carrello { 
            background: #000000ff; 
            max-width: 800px; 
            margin: 0 auto; 
            padding: 40px; 
            border-radius: 10px; 
            box-shadow: 0 10px 30px rgba(0,0,0,0.05); 
            border: 1px solid #d77c37ff; 
            border-top: 10px solid #d77c37ff; 
        }

        .riepilogo-totale { 
            margin-top: 25px; 
            text-align: right; 
            padding-top: 15px; 
        }

        .testo-totale { 
            font-size: 24px; 
            font-weight: 300; 
            color: #fffefeff; 
            margin-bottom: 15px; 
        }

     

        .azioni-carrello { 
            display: flex; 
            justify-content: space-between; 
            align-items: center; 
            margin-top: 20px; 
        }

        .btn-paga { 
            background-color: #c1782fff; 
            color: white; 
            border: none; 
            padding: 10px 25px; 
            border-radius: 8px; 
            font-size: 16px; 
            font-weight: 600; 
            cursor: pointer; 
            text-decoration: none; 
            transition: 0.3s ease; 
        }

        .btn-nav { 
            text-decoration: none; 
            background: #646363ff; 
            color: white; 
            padding: 10px 20px; 
            border-radius: 8px; 
            display: inline-block; 
            margin-bottom: 20px; 
        }

        .btn-svuota { 
            color: #c2642eff; 
            text-decoration: none; 
            font-size: 14px; 
        }
        
/*SELETTORE DISCENDENTE */

        .testo-totale strong { 
            font-weight: 600; 
            color: #fffefeff; 
        }

 /* PSEUDO-CLASSI (stato dell'elemento, es. :hover, :disabled) */
        
        .btn-paga:hover { 
            background-color: #c1782fff; 
            transform: translateY(-2px); 
            box-shadow: 0 4px 10px rgba(40,167,69,0.2); 
        }

        .btn-svuota:hover { 
            text-decoration: underline; 
        }

    