/*SELETTORE UNIVERSALE*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

/*SELETTORE PER TIPO*/
body{
    display: flex;              /*Visualizza l'elemento come un contenitore "flessibile" */
    background-color: #111;     /*colore di sfondo del body*/
    justify-content: center;
    align-items: center;
    min-height: 100px;
    padding: 90px;
    color: white;


}

/*SELETTORE PER CLASSE*/
.container{
    display: flex;             /*Visualizza l'elemento come un contenitore "flessibile" */
    justify-content: center;    /*Centra il div*/
    align-items: center;        /*alline gli elementi del div al centro*/
    padding: 20px;
    width: 750px;
   

}

.profile-sec{
    background: radial-gradient(circle at center, #1a1a1a 0%, #000 100%);  /*colore di sfondo della sezione per il profilo*/
    border: 1px solid #333;
    border-top: 5px solid #ff9d00;
    padding: 80px;
    width: 100%;
    text-align: center;
    border-radius: 15px;    /*proprietà che definisce il raggio degli angoli dell'elemento, permette di aggiungere angoli arrotondati ai bordi*/ 
    margin: 50px auto;  /*top e bottom margin di 50 px ; left e right margin auto per centrare orizzontalmente l'elemento nel suo contenitore*/

}

h1{
    color: #ff9d00;
    font-size: 25px;
    margin-bottom: 30px;
    letter-spacing: 1px;      /*aumento lo spazio tra le lettere*/
    text-transform: uppercase;

}

.profile-info{
    text-align: left;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 30px;
}

p{
    background-color: #222;
    color: white;
    margin: 15px 0;
    border-bottom: 1px solid #222;
    padding: 20px;
    display: flex;
    justify-content: space-between  /*allinea etichetta a sinistra e valore a destra*/ 

}

.label{
    color: #ff9d00;
    font-weight: bold;
    width: 100px;
    font-size: 15px;
    text-transform: uppercase;

}

.subs-sec{
    margin-top: 30px;
    border-top: 1px solid #333;
    padding-top: 20px;
}

.sub-card{
    background-color: #222;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    border-left: 4px solid #00c851 /*Verde per indicare che è attivo*/
}

.sub_name{
    color: #ff9d00;
    font-weight: bold;
    font-size: 1.1em;
    display: block;
    margin-bottom: 5px;
}

.sub-dates{
    font-size: 0.9em;
    color: #bbb;
}

.no-subs{
    color: #666;
    font-style: italic;
    margin-top: 10px;
}

a{
    color: #ff9d00;
    margin-top: 25px;
    font-weight: bold;
    text-decoration: none;
    font-size: 15px;
}


