*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{ 
    display: flex;   /*Visualizza l'elemento come un contenitore "flessibile" */
    flex-direction: column;   /*gli elementi della pagina sono disposti uno sotto l'altro (header, content e footer)*/
    background-color: black;

}

header{
    background-color: black;
    display: flex;
    align-items: center;
    padding: 15px;
    width: 100%;
}

nav{
    width: 100%;

}

.horizontal-nav{
    list-style-type: none;
    margin: 0;
    padding: 0 20px;
    background:  #b9713aff;
    width: 100%;  /*allunga la barra su tutta la larghezza*/
    display: flex; /*rende la barra orizzontale*/
    justify-content: center; /*centra la barra*/
    border-radius: 5px; 
}


/*stile per le voci della barra */
.horizontal-nav li a{
    display: block;
    color: #000000ff;
    text-align: center;
    font-weight: 060;
    text-decoration: none;
    font-family: Arial, sans-serif;
    padding: 20px;
}

.horizontal-nav li:hover{
    background-color: #c09673ff;
    border-radius: 5px; 
}

.auth-group{
    margin-left: auto; /*auto spinge questo elemento e i successivi a destra*/

}

.user-status{
    margin-left:auto;
    color: #fff;
    display:flex;
    align-items: center;
    padding: 15px;
    margin-right: 10px;


}   

.user-status strong{
    align-items: center;
    color: black;

}

.btn-profile{
    color: white;
    padding: 15px;

}

.btn-logout{
    color: #862020ff !important; /*Rosso per il logout*/
    font-weight: bold;

}



/*Sezione principale (menù laterale + contenuto)*/
.container{
    display: flex;
    flex: 1;        /*Occupa lo spazio rimanente*/

}


.content{
    display: flex;
    flex-direction: column;  /*elementi all'interno dell'elemento di classe 'content' impilati uno sopra l'altro*/
    gap: 30px;
    margin-bottom: 40px;
    padding: 20px;

}

.date-selector{
    background-color: #111;
    padding: 20px;
    border-bottom: 1px solid #333;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.date-selector h1 {margin:0; font-size: 24px; color: white; }
.date-selector input[type="date"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ff9d00;
    background-color: #222;
    color: white;
    cursor: pointer;
}

.info-film {
    padding: 15px;

}


h1{
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
    letter-spacing: 1px;

}

#description{
    color: #ccc;
    line-height: 1.5;
    margin: 20px 0;
    font-size: 15px;

}

.meta-info p{
    color:white;
    margin-bottom: 8px;
    display: flex;
    font-size: 15px;


}

p span{
    color: gray;

}


/*Stile per la card con informazioni su orari e sala*/
.time-card{
    /*Colore di sfondo: la funzione linear-gradient imposta un gradiente lineare come colore di sfondo; un gradiente lineare
      è una transizione sfumata tra due o più colori che si sviluppa lungo una linea retta:
         1) "to bottom" definisce l'orientamento del gradiente: in questo caso il colore inizia dalla parte superiore dell'elemento e 
            sfuma verso la parte inferiore;
          2) il colore di inizio #2f3a52 (un blu desaturato) si trova in alto;
          3) il colore di fine #262f43 (variante più scura del blu) si trova in basso
          Usando questa funzione la barra di navigazione orizzontale sembra un elemento con una sua profondità che si integra con
          lo sfondo scuro del sito.*/
    background: linear-gradient(to bottom,#2f3a52,#262f43);
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #333;
    transition: 0.3s;
    cursor: pointer;
    width: 150px;




}

#hours{
    font-weight: bold;
    margin-bottom: 5px;
    color: white;

}

#hall{
    color: #888;
    margin-bottom: 5px;

}

#tech{
    color: #ff9d00;


}

#price{
    text-align: right;
    color: #fff;


}

/*Stile per il footer*/
footer{
    color: white;
    background-color: #000;
    text-align: center;
    padding: 15px;
    border-top: 1px solid #333


}